name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

        # Ubuntu latest should have already had PHP pre-installed
        # https://github.com/marketplace/actions/setup-php-action#cloud-osplatform-support
        # however, we prefer to use the latest stable version, with composer
      - name: Setup PHP with Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer

      - name: Prepare pnpm
        uses: pnpm/action-setup@v4

      - name: Prepare Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install deps
        run: pnpm install

      - name: Lint
        run: pnpm run lint

  check-renovate-changefile:
    if: startsWith(github.event.pull_request.head.ref, 'renovate/') && github.base_ref == github.event.repository.default_branch
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.RENOVATE_AUTO_BEACHBALL_CHANGEFILE_TOKEN }}

      # Install dependencies (example using pnpm)
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install

      - name: Check and generate changefile for Renovate
        uses: RightCapitalHQ/frontend-style-guide/.github/actions/renovate-auto-beachball-changefile@main

  check-beachball-changefile:
    if: github.base_ref == github.event.repository.default_branch
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install

      - name: Check
        run: pnpm exec beachball check

  build:
    if: ${{ always() && !failure() && !cancelled() }}
    needs: check-beachball-changefile
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Publish (development)
        if: github.repository == 'RightCapitalHQ/php-parser' && github.base_ref == github.event.repository.default_branch
        env:
          HEAD_REF: ${{ github.head_ref }}
        run: |
          preid="${HEAD_REF//\//-}".${{ github.run_number }}.${{ github.run_attempt }}
          npm --no-git-tag-version version prerelease --preid="${preid}"
          pnpm publish --no-git-checks --access public --tag development

      - name: Publish (main)
        if: github.repository == 'RightCapitalHQ/php-parser' && github.ref_name == github.event.repository.default_branch
        run: |
          git config --local user.email "npm-publisher@rightcapital.com"
          git config --local user.name "GitHub Actions[bot]"
          pnpm beachball publish --access public --yes -m 'chore(release): applying package updates'
